<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallKitIntentsExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OneCallBlocking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OneCallIdentification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OneCallIdentification2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OneCallKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OneCallToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC02231E1D8FDB0F00D3BF11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC19A4A31D891FE300562121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC19A4B31D89200500562121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC23B6E91D6AD5DA00F127C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC301E501D6A90E8003950DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4E70011D869DB60041A06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC7E21D41D655BC6002523E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA3CE6B1D7EC5930039B961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD6281C1D64792600C60155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
